/* //#dadada */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    width: 100%;
    height: auto;
    padding: 20px 20px;
    font-size: 35px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: rgb(85, 78, 78);
    margin-top: 10px;
}

.horline {
    width: 100%;
    height: 30px;
    background-color: rgb(128 128 128 / 10%);
}


.wrap1{
    width: 100%;
    height: auto;
    background-color: white;
    margin: 0 0;
    padding: 0 0;
    display: flex;
    justify-content:center ;
    align-items: center;
}


.box1{
    width: 450px;
    height: auto;
    /* background-color: #98c1d9; */
    /* background-color: rgba(97, 91, 91, 0.644); */
    /* background-color: lightgray; */
    background-image: -webkit-linear-gradient(65deg, #98c1d9 50%, white 50%);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    margin: 60px 0;
    padding: 20px 0;

    box-shadow: 0 0 25px #98c1d9;
}

.input-box{
    padding: 15px 40px;
}

.perName ,.perEID ,.Message{
    height: 40px;
    border-radius: 8px;
    border: 0.1px solid black;
    padding: 5px 10px;
}

.perName ,.perEID{
    padding-left: 30px;
    padding-right: 15px;
    width: 87%;
}

.input-box i{
    position: relative;
    transform: translateX(10px);
    top: 3.6px;
    left: 19px;
    /* top: 33.6%; */
    /* left: 31.5%; */
}

#Email-id-box i{
    top: 2.36px;
}

.star-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.star-box header{
    font-size: 22px;
    color: rgb(85, 78, 78);
    font-weight: 500;
    align-items: center;
}


.stars{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 40px;
}

.stars i{
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color .1s ease;
}

.stars i.active{
    color: #ff9c1a;
}

.sub{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-btn{
    width: 60%;
    padding: 10px 30px;
    cursor: pointer;
    margin: 20px 40px;
    outline: none;
    border-radius: 30px;
    border: 0;
    background: #3d5a80;
    color: white;
    height: 40px;
}

.sub-btn:hover{
    background-color: #575a57;
}

 /* navbar */

 
 .search input[type="text"] {
    width: 297px;
    padding: 10px;
    border: rgb(13, 13, 13) 0.5px solid;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search button[type="submit"] {
    background-color: #f3e9e9;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
  }
  
  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: rgb(6, 6, 6);
  }
  
  button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
      -6px -6px 12px #ffffff;
    margin: 5px 5px;
  }
  
  button:active {
    color: #fffefe;
    box-shadow: inset 4px 4px 12px #c5c5c5,
      inset -4px -4px 12px #ffffff;
  }
  
  .navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    height: 87px;
    position: sticky;
    font-size: 20px;
    border: #2b2929 solid 0.5px;
    border-radius: 5px;
    font-family: "gilroy";
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
  
  }
  
  .navbar-container {
    max-width: 1735px;
    margin: 7px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo img {
    height: 60px;
    border-radius: 10px;
    margin-left: -129px;
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
  }
  
  .navbar-search input {
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  .navbar-search button {
    background-color: #2980b9;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .nav-link {
    margin: 21px 71px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .navbar-buttons {
    display: flex;
  }
  
  .btn-login {
    background-color: rgb(255, 255, 255);
    color: rgb(199, 204, 208);
    padding: 8px 27px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-login:hover {
    background-color: #9bcbde;
  }
  
  img {
    width: 127px;
    height: 20px;
  
  }

  /* footer */


.footer {
    background-color: #3d5a80;
    color: #fefefe;
    width: 100%;
    bottom: 0;
    left: 0;
    mix-blend-mode: difference;
  }
  
  .footer .heading {
    color: #fefefe;
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
  }
  
  .footer .content p {
    margin-bottom: 1.3rem;
  }
  
  .footer .content a {
    text-decoration: none;
    color: #fefefe;
  }
  
  .footer .content a:hover {
    border-bottom: 1px solid #cdcaca;
  }
  
  .footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 34px;
  }
  
  footer {
    text-align: center;
    /* margin-bottom: 2rem; */
  }
  
  footer hr {
    margin: 2rem 0;
  }
  
  .footer {
    position: unset;
  }